In [1]:
#Tuples are ordered collection of items that are immutable. They are similar to lists, but their immutability makes them different
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
ls = list()
print(type(ls))
tu = tuple()
print(type(tu))

<class 'list'>
<class 'tuple'>

In [3]:
nums = ([1,2,3,4])
print(type(nums))

<class 'list'>

In [5]:
ls = [1,2,3,4]
nums = tuple(ls)
print(type(nums))

<class 'tuple'>

In [6]:
tup = ()
ls = list(tup)
print(type(ls))

<class 'list'>

In [7]:
mxtup = (1,"UJJWAL",True,3.14)
print(mxtup)

(1, 'UJJWAL', True, 3.14)

In [8]:
#Accessing the elements for tuple
print(mxtup[0])

1

In [9]:
print(nums[-1])

4

In [10]:
#Tuple Operations
concat = mxtup + nums
print(concat)

(1, 'UJJWAL', True, 3.14, 1, 2, 3, 4)

In [11]:
nums*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [12]:
concat*3

(1,
 'UJJWAL',
 True,
 3.14,
 1,
 2,
 3,
 4,
 1,
 'UJJWAL',
 True,
 3.14,
 1,
 2,
 3,
 4,
 1,
 'UJJWAL',
 True,
 3.14,
 1,
 2,
 3,
 4)

In [ ]:
ls1 = [1,2,3,4]
ls1[1] = "ujjwal" #lists are mutable

print(ls1)

[1, 'ujjwal', 3, 4]

In [ ]:
t = (1,2,3,4)
#t[1] = 2 tuples are immutable
print(t)

TypeError: 'tuple' object does not support item assignment

In [16]:
nums

(1, 2, 3, 4)

In [20]:
print(nums.count(1))
print(nums.index(3)) #Returns the index of the first occurance of the value

1
2

In [21]:
#Packing and Unpacking in tuples
pack_tup = 1,"Ujjwal",True
print(pack_tup)

(1, 'Ujjwal', True)

In [22]:
#Unpacking a tuple
a,b,c = pack_tup
print(a,b,c)

1 Ujjwal True

In [23]:
#Unpacking a tuple with *
first,*middle,last = nums
print(first,middle,last)

1 [2, 3] 4