In [2]:
##Declaring and Assigning Variables
age = 32
name = "UJJWAL"
height = 6.1
is_name = True

##Printing the assigned variables

print("Age:",age);
print("Name:",name)
print("Height:",height)
print("Is it a name:",is_name)

Age: 32
Name: UJJWAL
Height: 6.1
Is it a name: True

In [ ]:
#Variables Naming Convention
#Variable names should be descriptive
#They must start with a letter or an '_'and contains letters, numbers and underscores
#Variables name are case sensitive


#Valid variable names are:

first_name = "Ujjwal"
last_name = "Kaushal"

In [ ]:
#Invalid variable names

#2age = 30
#first-name = "Ujjwal"  
#@name = "Ujjwal"

SyntaxError: invalid decimal literal (3578302825.py, line 2)

In [4]:
#Case Sensitivity
name = "Ujjwal"
Name = "Ujjwal"

name == Name

True

In [5]:
#Understanding Variable types
#Python is dynamically  types, type of variable is determined at runtime
age = 25
name = "Ujjwal"
print(type(name))

<class 'str'>

In [6]:
#Type Checking and Conversion
type(height)

float

In [8]:
age = 25
age_str = str(age)
print(type(age_str))

<class 'str'>

In [9]:
#Dynamic Typing
#Python allows the type of variable to change as the program executes

var = 10
print(var,type(var))

var = "10"
print(var,type(var))

var = 3.14
print(var,type(var))

10 <class 'int'>
10 <class 'str'>
3.14 <class 'float'>

In [10]:
#input
age = input("What is the input of age?")
print(age)

12

In [11]:
##Simple calculator
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))


s1 = num1 + num2
diff = num1 - num2
prod = num1 * num2
div = num1 / num2

print("Sum:",s1)
print("Difference:",diff)
print("Product:",prod)
print("Division:",div)

Sum: 24
Difference: 0
Product: 144
Division: 1.0